html, body {
  height: 100%;
}

body { 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(10, 41, 8);
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;
}

* { font-family: inherit;}

body > div[data-elm-hot] {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.game {
  position: relative;
}

.grid {
  display: flex;
  flex-direction: column;

  transform-origin: bottom;
  transform: translateY(-20vmin) perspective(25vmin) rotate3d(1, 0, 0, 15deg);
}

.grid__row {
  display: flex;
}

.grid__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: solid 0.25vmin rgba(255,255,255,0.5);
  width: 12vmin;
  height: 12vmin;
  padding: 0;
  margin: 0;
  /* cursor: none; */
}

.hud__unit svg { 
  /* pointer-events: none; */
}

.grid__dot {
  width: 1px;
  height: 1px;
}


.grid__button:hover {
  background: rgba(255,255,255,0.5);
}

.unit {
  pointer-events: none;
  position: fixed;
  width: 10vmin;
  top: 0;
  left: 0;
  transform-origin: bottom;
}

.unit svg {
  animation: bob 2000ms infinite ease-in-out;
}

@keyframes bob {
  from, to {
    transform: none;
  }
  50% {
    transform: translateY(10%);
  }
}


/* HUD */

.hud__wave {
  position: fixed;
  top: 4vmin;
  left: 4vmin;
  color: white;
  padding: 1.5vmin 3vmin;
  border: solid 0.25vmin white;
  border-radius: 0.5vmin;
  background: rgba(0, 0, 0, 0.5);
}

.hud__day {
  font-size: 4vmin;
  font-weight: bold;
}

.hud__eclipse {
  color: rgba(255, 255, 255, 0.65);
}

.hud__build {
  position: fixed;
  bottom: 2vmin;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: rgba(0, 0, 0, 0.5);;
  border-radius: 1vmin;
  align-items: center;
  padding: 1vmin 2vmin;
  box-shadow: 0 1vmin 2vmin rgba(0, 0, 0, 0.25);
  color: white;
}

.hud__units {
  display: flex;
}

.hud__coins {
  display: none;
  width: 8vmin;
  height: 8vmin;
  border: solid 0.25vmin white;
  margin-right: 1vmin;
  border-radius: 1vmin;
}

.hud__unit {
  width: 5vmin;
  padding: 0 .5vmin;
  border-radius: 1vmin;
  margin-left: 1vmin;
  border: solid 0.25vmin transparent;
}

.hud__unit:hover {
  background: rgba(255,255,255,0.5);
}

.hud__unit--selected {
  border: solid 0.25vmin dodgerblue;
  animation: bob 1000ms ease-in-out infinite;
}

.hud__unit--locked {
  opacity: 0.5;
  cursor: not-allowed;
}

.hud__start {
  margin-left: 2vmin;
  padding: 0.5vmin 1vmin;
  /* animation: bob 1000ms ease-in-out infinite ; */
}

.page {
  display: flex;
  flex-direction: column;
}

.page__title {
  margin-bottom: 0;
}